# Diretório de saída do TypeScript
/dist

# Arquivos de configuração e build
*.tsbuildinfo

# Dependências
/node_modules

# Logs
*.log

# Sistema operacional
.DS_Store
Thumbs.db

# IDEs e editores
.vscode/
.idea/
*.swp

# Arquivos temporários
*.tmp
*.temp