@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

.back {
    background-image: linear-gradient(45deg,#33211c,#c7b299);
    height: 100vh;
    color: #f5eec3;
    font-family: 'poppins' , sans-serif;
    text-align: center;
}

.calculator {
    position: absolute;
    background-color: rgba(51, 33, 28,0.8);
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 20px;
    padding: 15px;
}

.button {
    width: 50px;
    height: 50px;
    font-size: 25px;
    border-radius: 100%;
    margin: 2px;
    cursor: pointer;
    border: none;
    color: #f5eec3;
    background-color: rgb(31,31,31);
}

.button:hover {
    background-color: black;
}

.buttonResult {
    width: 50px;
    height: 106px;
    font-size: 25px;
    border-radius: 40px;
    margin: 2px;
    cursor: pointer;
    border: none;
    color: #f5eec3;
    background-color: #ae0c3e;
}

.buttonResult:hover {
    background-color: rgb(87, 3, 30);
}

.buttonZero {
    width: 106px;
    height: 50px;
    font-size: 25px;
    border-radius: 40px;
    margin: 2px;
    cursor: pointer;
    border: none;
    color: #f5eec3;
    background-color: rgb(31,31,31);
}

.buttonZero:hover {
    background-color: black;
}

#result {
    width: 207px;
    height: 30px;
    margin: 5px;
    font-size: 25px;
    border-radius: 5px;
    padding: 5px;
    text-align: right;
    color: #33211c;
    background-color: #c7b299;
}